APP_NAME="mini-rag"
APP_VERSION="0.1"
OPENAI_API_KEY= "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"